<h1>
  Create a task
</h1>

<form (ngSubmit)="createTask()" #taskForm="ngForm">

<div class="form-group">
  <label for="sel2">Select project</label>
  <select [(ngModel)]="model.project" class="form-control" name="project" id="project">
    <option disabled selected value> -- select an option -- </option>
    <option *ngFor="let project of projects">{{ project }}</option>
  </select>
</div>


<div class="form-group">
  <label for="sel2">Select priority</label>
  <select [(ngModel)]="model.priority" class="form-control" name="priority" id="priority">
    <option disabled selected value> -- select an option -- </option>
    <option *ngFor="let priority of priorities">{{ priority }}</option>
  </select>
</div>

<div class="form-group">
  <label for="sel1">Select tag</label>
  <select [(ngModel)]="model.tag" class="form-control" name="tag" id="tag">
    <option disabled selected value> -- select an option -- </option>
    <option *ngFor="let tag of tags">{{ tag }}</option>
  </select>
</div>

<div class="form-group">
  <label for="sel2">Select date</label>
  <select [(ngModel)]="model.date" class="form-control" name="date" id="date">
    <option disabled selected value> -- select an option -- </option>
    <option *ngFor="let date of dates">{{ date }}</option>
  </select>
</div>

<div class="form-group">
  <label for="sel2">Select skill</label>
  <select 
    (change)="onSelect($event.target.value)" 
    [(ngModel)]="model.skill" name="skill" class="form-control" name="skill" id="skill">
    <option disabled selected value> -- select an option -- </option>
    <option  *ngFor="let skill of skills" [value]="skill">{{ skill }}</option>
  </select>
</div>

<div class="form-group" *ngIf="model.skill">
  <label for="sel2">Select available resource with skill: {{ model.skill }}</label>
  <select [(ngModel)]="model.resource" class="form-control" id="resource" name="resource">    
    <option disabled selected value> -- select an option -- </option>
    <option *ngFor="let resource of resources">{{ resource }}</option>
  </select>
</div>

<!-- <button [disabled]="model.resource" type="submit" class="btn btn-default">Create Task</button> -->
<button type="button" class="btn btn-primary" (click)="createTask()">Create Task</button>
</form>


<br><br>

<h2>Available Tasks</h2>

<ul class="list-group">
  <li *ngFor="let task of tasks" class="list-group-item">
    {{ task.project }} | 
    {{ task.priority }} |
    {{ task.tag }} |
    {{ task.date }} |
    {{ task.skill }} |
    {{ task.resource }}
  </li> 
</ul>

<br><br>