<ul class="nav justify-content-center">
  <li class="nav-item">
    <a routerLink="/tags" class="nav-link active">tags</a>
  </li>
  <li class="nav-item">
    <a routerLink="/skills" class="nav-link">skills</a>
  </li>
  <li class="nav-item">
    <a routerLink="/projects" class="nav-link">projects</a>
  </li>
  <li class="nav-item">
    <a routerLink="/priorities" class="nav-link">priorities</a>
  </li>
  <li class="nav-item">
    <a routerLink="/date" class="nav-link">date</a>
  </li>
  <li class="nav-item">
    <a routerLink="/people" class="nav-link">people</a>
  </li>  
  <li class="nav-item">
    <a routerLink="/availability" class="nav-link">availability</a>
  </li>
  <li class="nav-item">
    <a routerLink="/resources" class="nav-link">resources</a>
  </li>
  <li class="nav-item">
    <a routerLink="/task" class="nav-link active">task</a>
  </li>
</ul>



<div class="container-fluid">
  <div class="row">
    <div class="col align-self-start">
      
    </div>
    <div class="col align-self-center">
      <router-outlet></router-outlet>
    </div>
    <div class="col align-self-end">
      
    </div>
  </div>
</div>