
<h2>Available People</h2>

<ul class="list-group">
  <li *ngFor="let item of items" class="list-group-item">
    {{ item.name }} 
    <ul>
      <li *ngFor="let skill of item.skills">{{ skill }}</li>
    </ul>
    
  </li> 
</ul>
